# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2c299cdf2f979dfd4552c07f0f09135bb3e6b43361a905d0f9a62f83b29b0363ed75b50287ed00eac1c1800b99acfa94dd90f0fb329ba0435373e3c276bc83c1

test:
  secret_key_base: 419c89a372d203de51eb912d9318ee91ad38f7b24abadf2ced9244963916276d242eab9a038bcb2053911f6c804658bf55bb3003bd829ba05e7b2de574408c15

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
